
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #35424A;

}
.cwd-header{
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 0.6rem;
  padding: 15px;
  padding-bottom: 10px;
  border-bottom:2px solid #cc469a;
}
.cwd-header-pages ul{
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
}
.cwd-header-pages li{
  margin: 10px;
  list-style-type: none;
}
.cwd-header-pages a {
  text-decoration: none;
  color: white;
}
.cwd-header-pages a:hover{
  color: #cc469a;
  cursor: pointer;
}
.cwd-img-content{
  background-image: url(assets/showcase.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.cwd-img-content p{
  margin-top: 30px;
}
.cwd-subscribe{
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-weight: 600;
  padding-left: 15px;
}
.cwd-subscribe-right input{
  border-radius: 2px;
  border: none;
  padding: 4px;
  margin-right: 5px;
}
.cwd-subscribe-right button {
  padding: 2px 20px;
  border: none;
  background-color: #E9412A;
  border-radius: 3px;
  color: white;
}
.cwd-content{
  display: flex;
  padding: 30px;
  padding-top: 20px;
  background-color: white;
  font-size: 1rem;
  text-align: center;
}   
.cwd-content-left{
  margin: 20px;
  line-height: 1.5;

}
.cwd-content-left h4,.cwd-content-right h4{
  margin-bottom: 15px;
}
.cwd-content-leftup{
  margin-bottom: 30px;
}
.cwd-content-leftdown{
  background-color: #35424A;
  padding: 20px;
  color: white;
  text-align: justify;
}
.cwd-content-right{
  background-color: #35424A;
  padding: 20px;
  color: white;
  line-height: 1.5;
  margin: 15px;
  height: fit-content;


}

.cwd-content img {
  width: 60px;
  margin-bottom: 10px;

}

.cwd-content h4{
  text-align: center;
}
.cwd-content p {
  text-align: center;
  padding: 5px 20px;
}

.cwd-services{
  display: flex;
  background-color: white;
  padding: 10px;

}
.cwd-services h4{
  margin-bottom: 15px;
  font-size: 1rem;
}

.cwd-services-services{
  padding: 20px;
  text-align: left;
  width: 150%;
  line-height: 1.3;
  font-size: 0.8rem;
}
.cwd-services-servicesup,
.cwd-services-servicesmid,
.cwd-services-servicesdown{
  background-color: #E8E5E0;
  margin-top: 3px;
  padding: 20px;
}
.cwd-services-form{
  background-color: #35424A;
  color: white;
  height: fit-content;
  width: 70%;
  padding: 10px;
  padding-right: 20px;
  font-size: 0.8rem;
  line-height: 1.4;
  margin-top: 15px;
}
.cwd-services-form input{
  width: 100%;
}
.cwd-services-form textarea{
  width: 100%;
}
.cwd-services-form button{
  background-color: #E9412A;
  color: white;
  border: none;
  padding: 7px 10px;
  font-size: 0.7rem;
}

.cwd-footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.6rem;
  margin: 10px;
}
.cwd-footer img{
  margin: 5px;
  height: 30px;
}
